.CuerpoPagina{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(https://static.pexels.com/photos/1712/sunglasses-apple-iphone-desk.jpg);
	background-size: cover;
    -webkit-filter: blur(0px);
}