*{
    margin:  0px;
    padding: 0px;
}

div#body{
    position: fixed; 
    overflow-y: scroll;
   	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	background-image: url(https://static.pexels.com/photos/1712/sunglasses-apple-iphone-desk.jpg);
	background-size: cover;
  
}

div#header{
   
    width: 100%;
    height: 200px;
    background-color: black;
    opacity: 0.8;   
}
div#Usuario{
    position: absolute;
    top:  50px; 
    left: 20px;
    width: 15%;
    height: 105px;
    background-color: gray;
    opacity: 0.9;   
}

div#main{
    margin: auto;
    width: 800px;
    height: 500px;
    background-color: black;
    opacity: 0.8;  
    margin-top: 20px;
    margin-bottom: 20px;
}

div#footer{
     width: 100%;
    height: 100px;
    background-color: black;
    opacity: 0.8; 
}
/*----------TITULO REGISTRO GLOBAL-----------*/
.TitulosRegistroGlobal{
	position: relative; 
    padding: 80px;
    text-align: center;
    margin: auto;
    width: 400px;
  
    
}

.TitulosRegistroGlobal div{
	
/*	color: #3850FF;*/
    color: #3850FF;
	font-family: 'Indie Flower', cursive;
    font-weight: 500;
	font-size: 50px;
    
}

.TitulosRegistroGlobal div span{
	color: #FFC40D;
}
/*----------FIN DE TITULO REGISTRO GLOBAL-----------*/



/*----------Publicaciones  USUARIO-----------*/

.UsuarioInfor{
	position: absolute;
    top:  20px; 
    left: 20px;
    width: 20%;
    height: 100px;
	padding: 10px;
	
}
/*NOMBRE USUARIO*/
.UsuarioInfor input[type=text]{
    border: 1px solid #0B33CC;
	border-radius: 2px;
	width: 220px;
	height: 30px;
	background: transparent;
	color: #0B33CC;
	font-family: 'Exo', sans-serif;
	
}
/*INFOR NOMBRe*/

.UsuarioInfor input[type=submit]{
	border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
    position: absolute;
    left: 40px;
	
}
/*----------FIN de Publicaciones  USUARIO-----------*/

/*----------Publicaciones  USUARIO RESCATADAO-----------*/
.TitulosDatosUsuarioRescatado{
	width: 15%;
    margin: 20px auto;
    padding-left: 110px;
    padding-top: 70px;
    width: 200px;
  
}

.TitulosDatosUsuarioRescatado div{
	
    float:left;
    
    color: #3850FF;
	font-family: 'Indie Flower', cursive;
    font-weight: 200;
	font-size: 20px;
    
}
.TitulosUsuarioRescatado{
	width: 15%;
    margin: 20px auto;
    width: 500px;
    height: 300px;
    background-color: white;
  
}

.TitulosUsuarioRescatado div{
	
    float:center;
    padding-top: 60px;
    color: #3850FF;
	font-family: 'Indie Flower', cursive;
    font-weight: 200;
	font-size: 20px;
    
}

.TituloINFO{
	width: 30%;
    margin: 0px auto;
    width: 150px;
  
}

.TituloINFO div{
	
    float:center;
    padding-top: 30px;
    color: #3850FF;
	font-family: 'Indie Flower', cursive;
    font-weight: 200;
	font-size: 20px;
    
}

/*----------FIN de Publicaciones  USUARIO RESCATADAO-----------*/
/*----------Publicaciones  REGISTRO GLOBAL-----------*/
.BotonFlotante{
	width: 15%;
    margin: 20px auto;
    width: 200px;
    padding-left: 160px;
    padding-top: 350px;
	
}

/*BOTON DE USUARIO*/
.BotonFlotante input[type=submit]{
	
    float:left;
    border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
   
	
}
/*----------FIN de Publicaciones  REGISTRO GLOBAL-----------*/
/*----------BOTON de Cargar  REGISTRO GLOBAL-----------*/
.BotonCargarPublicaciones{
	position: absolute;
    top:  100px; 
    right: 20px;
    width: 20%;
    height: 100px;
	padding: 10px;
	
}
/*NOMBRE USUARIO*/
.BotonCargarPublicaciones input[type=text]{
    
	width: 220px;
	height: 40px;
	color: #0B33CC;
	font-family: 'Exo', sans-serif;
	
}
/*INFOR NOMBRe*/

.BotonCargarPublicaciones input[type=submit]{
	border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
    position: absolute;
    left: 40px;
	
}
/*----------BOTON de Cargar   REGISTRO GLOBAL-----------*/

/*----------BOTON de buscar  REGISTRO GLOBAL-----------*/
.BotonBuscar{
	position: absolute;
    top:  300px; 
    left: 20px;
    width: 20%;
    height: 100px;
	padding: 10px;
	
}
/*NOMBRE USUARIO*/
.BotonBuscar input[type=text]{
    
	border: 1px solid #0B33CC;
	border-radius: 2px;
	width: 200px;
	height: 30px;
	background: transparent;
	color: #FFFFFF;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	
}
.BotonBuscar div{
    
	width: 220px;
	height: 40px;
    margin-left: 40px;
	color: #FFFFFF;
    margin-left: 70px;
	font-family: 'Exo', sans-serif;
	
}
/*INFOR NOMBRe*/

.BotonBuscar input[type=submit]{
	border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
    position: absolute;
    left: 70px;
    margin-top: 50px;
	
}
/*----------BOTON de buscar   REGISTRO GLOBAL-----------*/


/*----------BOTON de BotonBuscarTodo  REGISTRO GLOBAL-----------*/
.BotonBuscarTodo{
	position: absolute;
    top:  450px; 
    left: 10px;
    width: 20%;
    height: 100px;
	padding: 10px;
	
}
/*NOMBRE USUARIO*/
.BotonBuscarTodo input[type=text]{
    
	border: 1px solid #0B33CC;
	border-radius: 2px;
	width: 200px;
	height: 30px;
	background: transparent;
	color: #FFFFFF;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	
}
.BotonBuscarTodo div{
    
	width: 220px;
	height: 40px;
    margin-left: 0px;
	color: #FFFFFF;
    margin-left: 70px;
	font-family: 'Exo', sans-serif;
	
}
/*INFOR NOMBRe*/

.BotonBuscarTodo input[type=submit]{
	border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
    position: absolute;
    left: 70px;
    margin-left: 10px;
    margin-top: 10px;
	
}
/*----------BOTON de BotonBuscarTodo   REGISTRO GLOBAL-----------*/

/*----------BOTON de buscar  REGISTRO GLOBAL-----------*/
.BotonPostear{
	position: absolute;
    top:  300px; 
    right: 0px;
    width: 20%;
    height: 100px;
    margin-top: 60px;
	
	
}
/*NOMBRE USUARIO*/
.BotonPostear input[type=text]{
    
	border: 1px solid #0B33CC;
	border-radius: 2px;
	width: 200px;
	height: 30px;
	background: transparent;
	color: #FFFFFF;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	
}
.BotonPostear div{
    
	width: 220px;
	height: 40px;
	color: #FFFFFF;
	font-family: 'Exo', sans-serif;
	
}
/*INFOR NOMBRe*/

.BotonPostear input[type=submit]{
	border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
    position: absolute;
    right: 120px;
    margin-top: 10px;
	
}
/*----------BOTON de buscar   REGISTRO GLOBAL-----------*/

/*----------Publicaciones  REGISTRO GLOBAL-----------*/
.BotonFlotanteDerecha{
	

    position: absolute;
	top: calc(80% - 80px);
    left: calc(50% - 70px);
	float: center;
	height: 100px;
	width: 200px;

	
}

/*BOTON DE USUARIO*/
.BotonFlotanteDerecha input[type=submit]{
	
    
    border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
   
	
}
/*----------FIN de Publicaciones  REGISTRO GLOBAL-----------*/

/*----------BOTON de buscar   REGISTRO GLOBAL-----------*/

/*----------Publicaciones  REGISTRO GLOBAL-----------*/
.BotonFlotanteIzquierda{
	
    position: absolute;
	top: calc(130% - 80px);
    left: calc(50% - 70px);
	float: center;
	height: 100px;
	width: 200px;
	
}

/*BOTON DE USUARIO*/
.BotonFlotanteIzquierda input[type=submit]{
	
    
    border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
   
	
}
/*----------FIN de Publicaciones  REGISTRO GLOBAL-----------*/

.idBorrar{
	position: absolute;
	top: calc(100% - 80px);
    left: calc(27% - 70px);
	float: center;
	height: 100px;
	width: 300px;
	
}

.idBorrar input[type=text]{
    border: 1px solid #0B33CC;
	border-radius: 2px;
	width: 220px;
	height: 30px;
	background: transparent;
	color: #0B33CC;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}
.idEditar{
	position: absolute;
	top: calc(100% - 80px);
    left: calc(67% - 70px);
	float: center;
	height: 100px;
	width: 300px;
	
}

.idEditar input[type=text]{
    border: 1px solid #0B33CC;
	border-radius: 2px;
	width: 220px;
	height: 30px;
	background: transparent;
	color: #0B33CC;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.idComprar{
	position: absolute;
	top: calc(105% - 80px);
    left: calc(48% - 70px);
	float: center;
	height: 100px;
	width: 300px;
	
}

.idComprar input[type=text]{
    border: 1px solid #0B33CC;
	border-radius: 2px;
	width: 220px;
	height: 30px;
	background: transparent;
	color: #0B33CC;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

/*----------Publicaciones  REGISTRO GLOBAL-----------*/
.BotonFlotanteCaneclar{
	
    position: absolute;
	top: calc(10% - 80px);
    left: calc(50% - 70px);
	float: center;
	height: 100px;
	width: 200px;
	
}

/*BOTON DE USUARIO*/
.BotonFlotanteCaneclar input[type=submit]{
	
    
    border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
   
	
}
/*----------FIN de Publicaciones  REGISTRO GLOBAL-----------*/

/*----------Publicaciones  REGISTRO GLOBAL-----------*/

/*----------FIN de Publicaciones  REGISTRO GLOBAL-----------*/



/*----------Publicaciones  REGISTRO GLOBAL-----------*/
.BotonFlotanteDerecha2{
	

    position: absolute;
	top: calc(210% - 80px);
    left: calc(50% - 70px);
	float: center;
	height: 100px;
	width: 200px;

	
}

/*BOTON DE USUARIO*/
.BotonFlotanteDerecha2 input[type=submit]{
	
    
    border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
   
	
}
/*----------FIN de Publicaciones  REGISTRO GLOBAL-----------*/

/*----------BOTON de buscar   REGISTRO GLOBAL-----------*/

/*----------Publicaciones  REGISTRO GLOBAL-----------*/
.BotonFlotanteIzquierda2{
	
    position: absolute;
	top: calc(210% - 80px);
    left: calc(50% - 70px);
	float: center;
	height: 100px;
	width: 200px;
	
}

/*BOTON DE USUARIO*/
.BotonFlotanteIzquierda2 input[type=submit]{
	
    
    border: 1px solid #FFC40D;
    border-radius: 2px;
    width: 70px;
	height: 35px;
	background: #FFC40D;
	cursor: pointer;
	color: #061B6E;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
   
	
}
/*----------FIN de Publicaciones  REGISTRO GLOBAL-----------*/